.auth {
  &__none {
    min-height: 70vh;

  }
  &__input {
    max-width: 400px;
    font-family: 'akzidenz-grotesk', 'sans-serif';
    font-size: 1.2rem;
    border: 1px solid rgba(255,255,255,0.2);
    background-color: black;
    color: white;
  }
}