.films {
  &__header {
    border-bottom: 1px solid rgba(255,255,255, 0.4);
  }
  &__row {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background-color: rgba(255,255,255, 0.05);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    svg {
      transition: all 0.3s ease-in-out;
      width: 46px;
    }
    &:hover {
      background-color: rgba(255,255,255, 0.2);
      svg {
        transform: translateX(5px);
      }
    }
  }
}

.film {
  &__link {
    border-bottom: 1px solid rgba(0,0,0,0);
    &:hover {
      border-bottom: 1px solid white;
    }
  }
  &__single {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.loaded {
      opacity: 1;
    }
  }
  &__back {
    .rotate {
      transform: rotate(180deg);
    }
    svg {
      width: 50px;
      height: auto;
    }
    h5 {
      background-color: black;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      h5 {
        transform: translateX(-20px);
      }
    }
  }
  &__poster {
    &:hover {
      .film__images-single-icon {
        opacity: 1;
      }
    }
  }
  &__images {
    margin-top: 30px;
    max-width: 490px;
    &-single {
      width: calc(33% - 1rem);
      &:hover {
        .image__block {
          opacity: 0.5;
        }
        .film__images-single-icon {
          opacity: 1;
        }
      }
      &-icon {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        width: 14px;
        height: 14px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%;)
      }
    }
  }
  &__content {
    padding-top: 2rem;
    &-inner {
      @media (--800) {
        padding-left: 2rem;
      }
    }
    &-single {
      width: 33.333%;
    }
    &-downloads {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(255,255,255,0.3);
    }
  }
  &__poster {
    max-width: 30%;
  }
}